html {
  font-size: 24px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Passion One', cursive;
  background-color: #3F74BF;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
p, li {
  font-size: 20px;    
  line-height: 2;
  letter-spacing: 1px;
